.header {
  background-color: lightgray;
  color: #242424;
  min-height: 125px;
  display: flex;
  place-items: center;
  justify-content: space-around;
}

.header__headline {
  font-size: 3.2em;
  line-height: 1.1;
}
