.header {
  background-color: lightgray;
  color: #242424;
  min-height: 100px;
  display: flex;
  place-items: center;
  justify-content: space-around;
  filter: drop-shadow(0px 2px 10px #0000006d);
}

.header__headline {
  font-size: 3.2em;
  line-height: 1.1;
  color: #242424;
}

.header__headline:hover {
  color: black;
}

.header__headline:active {
  color: black;
}

.header__github-link {
  text-decoration: none;
  color: #242424;
  height: 100;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header__github-logo {
  height: 32px;
}

.header__github-text {
  font-weight: 500;
}
