* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.socials__wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: stretch;
  height: 50px;
}

.socials__cards {
  background-color: lightgray;
  height: 52px;
  width: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #242424;

  &:hover {
    background-color: white;
  }
  &:active {
    background-color: white;
  }
}
.socials__link {
  width: 32px;
  height: 32px;
}
.socials__logos {
  width: 32px;
  height: 32px;
  margin: auto;
}
